 .nav-edge {
   padding-top: 5px;
   height: 62px;
   background-color: rgba(228, 218, 218, 0.891)
 }

 .nav-edge ul {
   display: flex;
   list-style: none;
   justify-content: center;
   height: 58px;
 }

 .nav {
   height: 110px;
   justify-content: center;
   background-color: rgb(206, 210, 214);
 }

 .poke1:hover {
   background-color: green;
 }

 .poke2:hover {
   background-color: rgb(235, 100, 4);
 }

 .poke3:hover {
   background-color: blue;
 }

 .poke4:hover {
   background-color: yellow;
 }
 .poke4 > p:hover{
  color: black;
 }

 .poke5:hover {
   background-color: rgb(32, 110, 140);
 }

 .poke6:hover {
   background-color: rgb(236, 9, 9);
 }

 .main {
   position: relative;
 }

 .main .btn {
   position: absolute;
   margin-top: 5%;
   position: fixed;
 }